.gameMessage {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
}

.black {
    color: ivory;
}

.correct {
    color: LAWNGREEN;
}

.incorrect {
    color: darkred;
    -webkit-text-stroke: 1px black;
}