.container {
    display: flex;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
    z-index: -1;
  }
  
  @media (min-width: 1100px) {
    .container {
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;
    }
  }