
.footer {
    min-height: 80px;
    width: 100%;
    background: light;
    box-shadow: 0 0 5px 1px darkslategrey;
    position: relative;
    margin-top: 50px;
    margin: 0 auto;
    font-family: 'Chakra Petch', sans-serif;
}

.bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    border-top: 5px solid rgb(0, 122, 236);
    background: rgb(0, 78, 224);
    text-align: center;
}

ul#footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#footer-list li {
    display: inline-block;
    width: 33%;
    color: ivory;
}

#footer-list li a {
    color: ivory;
}

#footer-list li a:hover {
    font-size: 1.2em;
}

.logo {
    height: 20px;
    width: 20px;
}

#reactLogo {
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media (max-width: 600px) {

    .bottom {
        bottom: -30px;
    }

    #footer-list li {
        width: 100%;
        display: block;
        padding-bottom: 5px;
    }
}

@media (min-height: 860px) and (min-width: 1000px) {

    .footer {
        position: absolute;
        bottom: 0;
    }   
}